h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Planear la construcción de instrumentos de evaluación de acuerdo con evidencias requeridas en la norma de competencia laboral.




