.container
    .header-ecored
        h1 1. Estructura Funcional de la Ocupación (EFO)
    .jumbotron.bg-white
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-6
                img.img-a(src="assets/images/pages/ilustraciones/img1.png").img-fluid         
            .col-12.col-md-6
                p Son el conjunto de Normas Sectoriales de Competencia Laboral (NSCL) que permiten el logro del propósito de una ocupación. En ella se describe lo que se hace en una ocupación, en qué tipo de organizaciones o sectores se desempeña el trabajador, el nivel de cualificación y las funciones laborales que se desarrollan en la misma. Corresponde a una ocupación e incluye las denominaciones o empleos y las funciones que se desempeñan en ella.


    #11
    .jumbotron.bg-white 
        .sub-line
            h2 1.1 Nivel de cualificación
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-6
                img.img-a(src="assets/images/pages/ilustraciones/img2.png").img-fluid         
            .col-12.col-md-6.bg-color1.border-radius
                p Hace referencia a la complejidad de las funciones, el nivel autonomía y responsabilidad en el desempeño de una ocupación en relación con otras. Además de la cantidad, tiempo y nivel de educación, capacitación y experiencia requeridas para su desempeño. 

    #12
    .jumbotron.bg-white
        .sub-line
            h2 1.2 Componentes normativos
        .row.justify-content-center.align-items-center.my-5
            .col-12.col-md-6
                img.img-a(src="assets/images/pages/ilustraciones/img3.png").img-fluid         
            .col-12.col-md-6.bg-color1.border-radius
                p  Corresponde a la estructura de las normas tales como: actividades claves, conocimientos esenciales, criterios de desempeño específicos, generales y evidencias requeridas.

        #carouselExampleIndicators.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
                li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                li(data-target='#carouselExampleIndicators', data-slide-to='1')
                li(data-target='#carouselExampleIndicators', data-slide-to='2')
                li(data-target='#carouselExampleIndicators', data-slide-to='3')
                li(data-target='#carouselExampleIndicators', data-slide-to='4')
                li(data-target='#carouselExampleIndicators', data-slide-to='5')
                li(data-target='#carouselExampleIndicators', data-slide-to='6')                
            .carousel-inner
                .carousel-item.active
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img4.png', alt='0')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img5.png', alt='1')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img6.png', alt='2')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img7.png', alt='3')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img8.png', alt='4')   
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img9.png', alt='5')  
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img10.png', alt='6')  
    
            a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next 
                    

    #13
    .jumbotron.bg-white
        .sub-line
            h2 1.3 Norma de Competencia Laboral (NCL/NSCL)
        .row.justify-content-center.align-items-center.my-5
            .col-12.col-md-6
                img.img-a(src="assets/images/pages/ilustraciones/img11.png").img-fluid         
            .col-12.col-md-6.bg-color1.border-radius
                p Una norma de competencia laboral es un estándar reconocido que describe los resultados que un trabajador debe lograr en el desempeño de una función laboral. 

                p A continuación, encontrará un mapa mental con la descripción de los diferentes conceptos de la estructura de una norma sectorial, al dar clic ampliará la información de cada uno de ellos. 

        img.img-a(src="assets/images/pages/ilustraciones/img12.png").img-fluid                 
        
        .row.justify-content-center.align-items-center.my-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img13.png").img-fluid         
            .col-12.col-md-8.bg-color2.border-radius
                p Actividades claves: 
                hr.bd-hr-blue
                p acciones indispensables que contribuyen al desempeño de una función.
        .row.justify-content-center.align-items-center.my-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img14.png").img-fluid         
            .col-12.col-md-8.bg-color2.border-radius
                p Criterios de desempeño específicos:
                hr.bd-hr-blue
                p descripción de los requisitos de calidad para el resultado obtenido en el desempeño laboral. 
        .row.justify-content-center.align-items-center.my-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img15.png").img-fluid         
            .col-12.col-md-8.bg-color2.border-radius
                p Criterios de desempeño generales:
                hr.bd-hr-blue
                p son los requisitos de calidad relacionados con aspectos de gestión del riesgo, seguridad y salud en el trabajo, gestión de información, gestión ambiental, u otros que apliquen a la función en su totalidad.    

        .row.justify-content-center.align-items-center.my-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img16.png").img-fluid         
            .col-12.col-md-8.bg-color2.border-radius
                p Conocimientos esenciales:
                hr.bd-hr-blue
                p teorías, principios o conceptos que debe comprender y aplicar el trabajador, para el desempeño de la función.

        .row.justify-content-center.align-items-center.my-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img17.png").img-fluid         
            .col-12.col-md-8.bg-color2.border-radius
                p Evidencias:
                hr.bd-hr-blue
                p aspectos que permiten a una persona demostrar que es competente en el desempeño de una función.

        .row.justify-content-center.align-items-center.my-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img18.png").img-fluid         
            .col-12.col-md-8.bg-color2.border-radius
                p Evidencias de desempeño directo:
                hr.bd-hr-blue
                p son acciones reales que se evidencian directamente en la ejecución de la función productiva por parte del candidato, y que permiten demostrar el cumplimiento de los parámetros de calidad establecidos en los criterios de desempeño definidos en el referente de evaluación (NSCL). 

        .row.justify-content-center.align-items-center.my-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img19.png").img-fluid         
            .col-12.col-md-8.bg-color2.border-radius
                p Evidencias de producto:
                hr.bd-hr-blue
                p resultado del desempeño observado y valorado o descrito en el referente de evaluación (NSCL). 

        .row.justify-content-center.align-items-center.my-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img20.png").img-fluid         
            .col-12.col-md-8.bg-color2.border-radius
                p Evidencias de conocimiento:
                hr.bd-hr-blue
                p se refiere a aplicación de las teorías y principios de base científica, así como a las habilidades cognitivas en relación con la función.

        .row.justify-content-center.align-items-center.my-5.bg-color3.border-radius
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img21.png").img-fluid         
            .col-8
                p.text-white Lo invitamos a profundizar los conceptos anteriormente mencionados en el glosario del componente formativo. 