.container
    .header-ecored
        h1 2. Instrumentos de evaluación
    .jumbotron.bg-white
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-6
                img.img-a(src="assets/images/pages/ilustraciones/img22.png").img-fluid         
            .col-12.col-md-6
                p Son herramientas de evaluación y medición construidas bajo metodologías definidas por el SENA que permiten la recolección y valoración de evidencias determinadas en un estándar de competencia laboral.

    
        .sub-line#21
            h2.mt-5 2.1 Tipos de instrumentos
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-6
                img.img-a(src="assets/images/pages/ilustraciones/img23.png").img-fluid         
            .col-12.col-md-6
                p Son herramientas de evaluación y medición construidas bajo metodologías definidas por el SENA, que permiten la recolección y valoración de evidencias determinadas en un estándar de competencia laboral. A continuación, encontrará la descripción de los tipos de instrumentos:
        
        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-3
                img.img-a(src="assets/images/pages/ilustraciones/img25.png").img-fluid.mb-3
                h3 Prueba de conocimiento:
                p instrumento de evaluación conformado por un conjunto intencionado y articulado de ítems que responden a los propósitos planteados en la estructura de la Norma de Competencia Laboral (NCL) o Norma Sectorial de Competencia Laboral (NCSL) y cuya aplicación permite evaluar el conocimiento del candidato.

            .col-12.col-md-3
                img.img-a(src="assets/images/pages/ilustraciones/img26.png").img-fluid.mb-3
                h3 Lista de chequeo de desempeño: 
                p es un instrumento que permite al evaluador de competencias laborales recolectar datos observables del candidato en el desempeño de una función productiva, verificando de una manera estructurada el cumplimiento de los requisitos establecidos en el referente de evaluación.

            .col-12.col-md-3
                img.img-a(src="assets/images/pages/ilustraciones/img27.png").img-fluid.mb-3
                h3 Lista de chequeo de producto: 
                p es un instrumento que permite al evaluador de competencias laborales recolectar información de los resultados de producto del candidato en una práctica laboral, verificando de una manera estructurada el cumplimiento de los requisitos establecidos en la norma de competencia laboral.

    
        .sub-line#22
            h2.mt-5 2.2 Fases de elaboración
        p Para el diseño y elaboración de instrumentos, se tienen establecidas las siguientes fases: 

        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-3
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid

            .col-12.col-md-3
                img.img-a(src="assets/images/pages/ilustraciones/img29.png").img-fluid

            .col-12.col-md-3
                img.img-a(src="assets/images/pages/ilustraciones/img30.png").img-fluid

            .col-12.col-md-3
                img.img-a(src="assets/images/pages/ilustraciones/img31.png").img-fluid                                                     