.container
    .header-ecored
        h1 3. Fases de Alistamiento y planeación
    .jumbotron.bg-white
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.max.img-a(src="assets/images/pages/ilustraciones/img32.png").img-fluid         
            .col-12.col-md-8
                p Para esto el Grupo Evaluación y Certificación de Competencias Laborales (GECCL) ha definido seis (6) matrices las cuales están publicadas en la plataforma Compromiso. 

    
        .sub-line#31
            h2.mt-5 3.1 Alistamiento
        p La fase de alistamiento es la primera etapa del proyecto de instrumentos, es responsabilidad del gestor de instrumentos en coordinación con el líder del Proceso de Evaluación y Certificación de Competencias Laborales (PECCL) de cada centro de formación.

        p Esta fase permite contemplar el talento humano, los recursos físicos y tecnológicos necesarios para el proyecto de instrumentos. Los recursos se clasifican en:
        .row.justify-content-center.mt-5
            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img.img-a(src="assets/images/pages/ilustraciones/img35.png").img-fluid.mb-3              
                        p <b>Humanos:</b> gestor de instrumentos, experto técnico constructor (evaluador), experto técnico revisor, líder del PECCL.
            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img.img-a(src="assets/images/pages/ilustraciones/img36.png").img-fluid.mb-3              
                        p <b>Físicos:</b> normas de competencia laboral, formatos de matrices de planeación y construcción de ítems e indicadores de desempeño y producto, formatos de verificación metodológica y verificación técnica de ítems e indicadores de desempeño y producto, tabla de correlación.
            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img.img-a(src="assets/images/pages/ilustraciones/img37.png").img-fluid.mb-3              
                        p <b>Tecnológicos:</b> equipo de cómputo, aplicativo Evaluación y Certificación de Competencias Laborales (ECCL).

    
        .sub-line#32
            h2.mt-5 3.2 Planeación
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.max.img-a(src="assets/images/pages/ilustraciones/img34.png").img-fluid         
            .col-12.col-md-8
                p La validez de las puntuaciones y la fiabilidad de los instrumentos dependen, entre otras cosas, de la planeación. En esta fase se determina el número de ítems a construcción a través de la Tabla de Correlaciones (TC).

        .header-arrow.my-5
            h3.text-center Tabla de correlaciones <br> En la siguiente presentación se dará a conocer la información relacionada a la tabla de correlaciones. 

      
        .row.justify-content-center.align-items-center.my-5.my-lg-6 
            .col-12.col-lg-10.d-flex.justify-content-center
            a(href="media/documentos/tabla_correlaciones.ppt", target="_blank")
                img(src="assets/images/pages/ilustraciones/img38.png", alt="").img-fluid        
        

        .header-arrow.my-5
            h3.text-center Matrices de planeación y construcción de ítems e indicadores de desempeño y producto
        p A continuación, a través de un video se le orientará para realizar el diligenciamiento del formato GCC-F-048 correspondiente a la matriz de planeación y construcción de ítems para normas NSCL. 

        .row.mt-5
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/9c2cxcaHjKg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        section

            a(href="media/documentos/Anexo_6_GCC-F-048_Formato_Matriz_Construccion_de_items.xlsx" target="_blank").media-link      

                img(src="assets/images/pages/ilustraciones/Recurso30.svg", alt="").media-link-icon

                .media-link-title
                    p.text-small <b>Anexo</b>. Formato Matriz Construcción de ítems                        

        .header-arrow.my-5
            h3.text-center Ejercicio práctico
        p A continuación se propone un ejercicio práctico. El ensamble de la información de la norma NSCL en los formatos de las matrices de indicadores de desempeño y producto, son similares. Se realizará la actividad de planeación con la matriz de indicadores de desempeño GCC-F-050. El número de indicadores en la planeación lo define los indicadores de desempeño específicos y generales establecidos en la norma.

        p Para el ejercicio propuesto los indicadores de desempeño específicos son 12 y 2 criterios de desempeño generales, que deberán ir en cada una de las filas correspondientes.

        p Debe dar clic en el icono del ejercicio práctico para visualizar el documento. 
        p Selecciona la información y llévela con clic sostenido hacia el formato de la matriz, deberá soltar el clic cuando la información este ubicada en la casilla correspondiente. 
        .row.my-5
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/PQqLDNrQq94', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        p En el video anterior, se mencionó que en la planeación para la construcción de ítems se contempla otros aspectos relacionados, como son: la constante de construcción, la categoría del pensamiento, tipos de formatos del ítem y tiempos de respuesta. 

        p La constante de construcción está determinada en la tabla de correlaciones y para entender este proceso visualice el siguiente video de la Taxonomía de Bloom.

        .header-arrow.my-5
            h3.text-center ¿Qué es la Taxonomía de Bloom?
        p La taxonomía del pensamiento se basa en la idea, de que las operaciones mentales pueden clasificarse en seis niveles de complejidad creciente en donde cada nivel depende de la capacidad del sujeto para desempeñarse en el nivel o los niveles precedentes, lo que implica operaciones mentales diferentes.

        p Estos niveles en que está dividida, van de lo más simple a lo más complejo. Se evidencian en la siguiente pirámide:

        img.img-a(src="assets/images/pages/ilustraciones/img54.png").img-fluid.my-5  

        p Para la construcción de ítems en competencias laborales son aplicables los siguientes niveles: 
        ul
            li.mt-3 Reconocimiento: recordar y reconocer información, datos.
            li.mt-3 Comprensión: entender, interpretar, comprender la información.
            li.mt-3 Aplicación: utiliza información para realizar una tarea o actividad.
            li.mt-3 Análisis: clasifica, diferencia y descompone un problema en sus partes para identificar sus componentes.

        p Los niveles de evaluación y creación no son aplicables para evaluar normas de competencia laboral.  
 
        p De acuerdo a la metodología de cada nivel se establecieron los siguientes tipos de formatos de ítems.
        .tabla-normas.mx-auto.my-5
            table.table.table-bordered.table-striped
                thead.thead-dark
                    tr
                        th Categoría de pensamiento
                        th Formatos recomendados   

                tbody
                    tr 
                        td Reconocimiento
                        td 
                            ul 
                                li Selección múltiple con única respuesta (SMUR).
                                li Jerarquización (J).
                                li Localización o Identificación (LI).

                tbody
                    tr 
                        td Comprensión
                        td 
                            ul
                                li Selección múltiple con única respuesta (SMUR).

                                li Condiciones SI-entonces (CSE).

                                li Ordenamiento con Única Respuesta (OUR).

                                li Apareamiento (APA).   

                tbody
                    tr 
                        td Aplicación
                        td 
                            ul
                                li Selección múltiple con única respuesta (SMUR). 

                tbody
                    tr 
                        td Análisis
                        td 
                            ul    
                                li Selección múltiple con única respuesta (SMUR).
                                li Verdadero Falso-Múltiple (VFM).
                                li Análisis de Relaciones (AR).
                                li Análisis de resultados. 

       
        p Para profundizar las categorías de pensamiento anteriormente mencionadas y los ejemplos de los formatos de los ítems, debe ingresar al instructivo que se encuentra en compromiso SENA a través del siguiente enlace. 
            a(href="https://www.sena.edu.co/es-co/Paginas/default.aspx" target="_blank") www.sena.edu.co 

        #carouselExampleIndicators2.carousel.slide(data-ride='carousel').mt-5
            ol.carousel-indicators
                li.active(data-target='#carouselExampleIndicators2', data-slide-to='0')
                li(data-target='#carouselExampleIndicators2', data-slide-to='1')
                li(data-target='#carouselExampleIndicators2', data-slide-to='2')
                li(data-target='#carouselExampleIndicators2', data-slide-to='3')
                li(data-target='#carouselExampleIndicators2', data-slide-to='4')
                li(data-target='#carouselExampleIndicators2', data-slide-to='5')
             
            .carousel-inner
                .carousel-item.active
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img55.png', alt='0')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img56.png', alt='1')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img57.png', alt='2')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img58.png', alt='3')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img59.png', alt='4')   
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img60.png', alt='5')  

    
            a.carousel-control-prev(href='#carouselExampleIndicators2', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators2', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next               