.container
    .header-ecored
        h1 4. Confidencialidad
    .jumbotron.bg-white
        p Proteger la información obtenida en cada una de las fases del proceso y nunca divulgarla sin la debida autorización.

    #41
    .jumbotron.bg-white
        .sub-line
            h2 4.1 Cadena de custodia
        p Es el mecanismo que salvaguarda, asegura la confidencialidad y administración de los instrumentos de evaluación a lo largo de su ciclo de vida. En la cadena de custodia están incluidos los actores que intervienen directamente en la construcción, administración y aplicación de instrumentos.

    #42
    .jumbotron.bg-white
        .sub-line
            h2 4.2 Acuerdo de confidencialidad
        p Es un contrato por medio del cual las partes se comprometen a no revelar la información confidencial relacionada al PECCL, garantizando la reserva de los datos que le serán suministrados. Dar clic sobre el icono del PDF para visualizar el documento.