.container
    .header-ecored
        h1 4. Confidencialidad
    .jumbotron.bg-white
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.max.img-a(src="assets/images/pages/ilustraciones/img61.png").img-fluid         
            .col-12.col-md-8
                p Proteger la información obtenida en cada una de las fases del proceso y nunca divulgarla sin la debida autorización.

    
        .sub-line#41
            h2.mt-5 4.1 Cadena de custodia
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.max.img-a(src="assets/images/pages/ilustraciones/img62.png").img-fluid         
            .col-12.col-md-8
                p Es el mecanismo que salvaguarda, asegura la confidencialidad y administración de los instrumentos de evaluación a lo largo de su ciclo de vida. En la cadena de custodia están incluidos los actores que intervienen directamente en la construcción, administración y aplicación de instrumentos.

    
        .sub-line#42
            h2.mt-5 4.2 Acuerdo de confidencialidad
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.max.img-a(src="assets/images/pages/ilustraciones/img63.png").img-fluid         
            .col-12.col-md-8
                p Es un contrato por medio del cual las partes se comprometen a no revelar la información confidencial relacionada con el PECCL, garantizando la reserva de los datos que le serán suministrados. Dar clic sobre el icono del PDF para visualizar el documento.

        section.my-4

            a(href="media/documentos/Anexo_5_Acuerdo_de_Confidencialidad_para_el_proceso_de_ECCL.pdf" target="_blank").media-link      

                img(src="assets/images/pages/ilustraciones/icon_pdf.svg", alt="").media-link-icon

                .media-link-title
                    p.text-small <b>Anexo</b>. Acuerdo de confidencialidad para el proceso de ECCL