include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Construcción de instrumentos de evaluación de competencias laborales
        meta(meta name="description" content="Ruta de aprendizaje programa Construcción de instrumentos de evaluación de competencias laborales.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Evaluador de competencias Construcción de instrumentos de evaluación de competencias laborales
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.bg-brand-color-dark.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Evaluador de competencias Construcción de instrumentos de evaluación de competencias laborales
                                        li 
                                            span #[strong Código:] 41311590
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] Técnico, Tecnólogos y profesionales del sector productivo.

                    

                            .col-12.col-lg-6
                                .d-none.d-lg-block
                                    img(src= "assets/images/header/header_media.png").curso-imagen   


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 ¡Hola!, le damos la bienvenida al curso “Construcción de instrumentos de evaluación de competencias laborales”, que le permitirá desarrollar habilidades para el diseño de instrumentos de evaluación, además, fortalecer la producción textual. En definitiva, podrá aplicar los conocimientos adquiridos en la resolución de situaciones de la vida cotidiana, en la utilización de las TIC y el trabajo autónomo.
  
                p Realizará un recorrido por los fundamentos metodológicos, normativos y de uso de la lengua que constituyen el andamiaje para la construcción de instrumentos.

                p La metodología que desarrollaremos está conformada por tres fases: planeación, construcción y verificación de los ítems de conocimiento e indicadores de desempeño y producto. 

                p Todo lo anterior, lo realizará a través de la plataforma virtual donde encontrará la información del programa, la ruta de formación, los contenidos con ejemplos explicativos y las guías de aprendizaje con actividades innovadoras. El instructor-tutor le orientará a lo largo del curso y aclarará sus dudas de manera directa, en los espacios programados para tal fin.

                p Esperamos que con estos recursos a su disposición pueda aprender y cumplir las metas profesionales y personales que nos hemos propuesto en el marco del curso.



        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 El Servicio Nacional de Aprendizaje (SENA) adelanta la evaluación y certificación de las competencias laborales del talento humano del país a partir de las normas correspondientes definidas por el sector productivo: Norma Sectorial de Competencias Laborales (NSCL) y Norma de Competencias Laborales (NCL).

                p Por consiguiente, contribuye al mejoramiento de la calidad de producción de los conglomerados empresariales, las cadenas productivas y las regiones. El proceso de formación se fundamenta con referencia en las normas anteriormente mencionadas, con relación al ser, el saber y el saber hacer en contexto desde la función productiva. En efecto, los instrumentos de evaluación utilizados en los proyectos de certificación deben cumplir con los principios de confidencialidad, integridad y accesibilidad. Así mismo, con la metodología de construcción validada y difundida a nivel nacional. 

                p Conviene subrayar que se garantiza la recolección y valoración de evidencias estandarizadas, que brinden a los candidatos equidad, imparcialidad, excelencia y transparencia. De esta manera, el procedimiento de evaluación y certificación laboral, a través del Banco Nacional de Instrumentos de Evaluación, garantiza que estos posean la calidad requerida en función de la normatividad vigente.



        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p El curso está dirigido a los técnicos, tecnólogos y profesionales del sector productivo, que deseen construir instrumentos de evaluación de competencias laborales. 


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p El proceso de aprendizaje se encuentra centrado en ambientes virtuales de aprendizaje, implementados en la utilización de las Tecnologías de la Información y la Comunicación (TIC), que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias propias para la construcción de instrumentos de evaluación. Estimulando de manera permanente la autocrítica y la reflexión sobre el quehacer y los resultados de aprendizaje a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento: el instructor– tutor, el entorno, las TIC y el trabajo colaborativo.

                p El aprendizaje se desarrollará utilizando como mediación una plataforma LMS (Learning Managemnet System) que facilitará la interacción del aprendiz con los contenidos de aprendizaje que se proponen. Para lo anterior, contará con la orientación del instructor–tutor quien guiará el proceso formativo de manera sincrónica y asincrónica. En efecto, el aprendiz deberá emplear también un número de horas para su formación de manera autónoma con el fin de lograr mayor efectividad en la aprehensión de los conocimientos.

                p En particular se abordarán tres ejes temáticos: planeación, construcción y verificación de los ítems de conocimiento e indicadores de desempeño y producto. En consecuencia, se espera desarrollar la competencia de construcción de instrumentos de evaluación de acuerdo con situaciones del contexto productivo y social. De modo que, para el desarrollo del proceso formativo, se contará con material didáctico para abordar los conceptos básicos, con ejemplos explicativos que sitúan al aprendiz en problemas reales, permitiendo ver la utilidad y el sentido de la formación. Además, contará con el acceso a las bases de datos bibliográficos que posee el SENA para profundizar en los conocimientos. Tendrá la oportunidad de afianzar los conceptos y poner en práctica lo aprendido a través de la realización de tres guías de aprendizaje que proponen una serie de actividades para exponer, argumentar, formular y resolver problemas del contexto real.

        +creditosFooter("assets/images/logos/senaLogo.svg")





